body {
  position: relative;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 13px 5px #00000065;
  z-index: 1000;
}
.questions {
  margin-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

.image-question {
  width: 100%;
}